
<%- include ('partials/header') %>
<%- include ('partials/nav') %>

<div class="jumbotron">
  <h1 class="display-4">MEAN Application</h1>
  <p class="lead">This is the list of most popular videos</p>
  <a class="btn btn-primary btn-lg" href="/videos/new" role="button">
  Add new video</a>
</div>



<div class="container">

<input class="btn btn-primary btn-filter" type="button" value="children">
<input class="btn btn-primary btn-filter" type="button" value="Fantasy">
<input class="btn btn-primary btn-filter" type="button" value="SciFi">

<br><br>
<div class="videos row">
<% videos.forEach(function(video){ %>
	<div class="video sm-col-3">
		<img src="images/<%= video.image %>" style="width:200px; height:200px;" class="img-thumbnail"/>
		<div class="caption"><a href="videos/<%= video._id %>"><%= video.title %></a></div>
	</div>


<% }); %>

</div>
</div>

<%- include ('partials/footer') %>

